:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --neon: #b5ff3d;
	--interface-bg: #131316;
	--interface-modal-bg: #1c1c21;
	--interface-accent: #4c4cff;
	--interface-active: #4c4cff;
	--interface-input: #2f2f37;
	--interface-success: #0cc;
	--interface-error: #e52b1a;
	--interface-modal-edge: rgba(76, 76, 255, 0.2);
	--text-primary-light-standart-text: #f2f2f3;
	--text-dark-grey-secondary-text: #8585ad;
	--text-disabled: #3a3a55;

    --font-family: "JetBrains Mono", sans-serif;
    --second-family: "Iceland", sans-serif;
    --third-family: "IBM Plex Sans", sans-serif;

    --transition-duration: 0.2s;
}
